<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<script src="angular.js"></script>
<script>
var app = angular.module('myapp', []);
app.factory('myservice', function() {
  //这里貌似也可以用$http不过要注入
  function _count(n, m) {
    return parseInt(n) + parseInt(m);
  }

  return {
    count: _count
  }
});
//自定义的factory依赖注入
app.controller('myctl', function($scope, myservice) {
  $scope.n = 0;
  $scope.m = 0;
  $scope.res = 0;
  $scope.onclick = function() {
    $scope.res = myservice.count($scope.n, $scope.m);
  }
})
</script>
</head>
<body ng-app="myapp" ng-controller="myctl">
<input type="text" ng-model="n">
<input type="text" ng-model="m">
<input type="button" ng-click="onclick()" value="计算">
结果为:{{res}}
</body>
</html>
