<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<script src="../angular.js"></script>
<script>
var app = angular.module('myapp', []);
app.directive('myDir', function() {
  return {
    restrict: 'AE',
    templateUrl: 'login.html',
    transclude: true,
    replace: true,
    scope: {
      _user: '=suser',
      _pwd: '=spwd'
    },
    //出了scope以外，还有2种方法可以把变量带到模板里
    //方法1
    compile: function(element, attrs, transcludeFn) {
      return function(scope, element, attrs) {
        transcludeFn(scope, function(clone) {
          /*
           * element应该是复制到login页的元素
           * clone是源数据
           * */

          //这里还是没搞明白。怎么找的对象，怎么赋值过去
          //参考地址：http://www.angularjs.cn/A0pU
          var c_user = element.find('.user');
          var c_pwd = clone.find('.pwd');
          element.append(c_user);
          element.append(c_pwd);
          /* var title = element.find('title');
           var time = clone.find('.time');
           var type = clone.find('.type');
           var text = clone.find('.content');

           title.append(time);
           element.append(type);
           element.append(text)*/

        });
      };
    }
    //方法2
    /* controller: ['$scope', '$element', '$transclude', function($scope, $element, $transclude) {
     $transclude(function(clone, scope) {
     var title = element.find('title');
     var time = clone.find('.time');
     var type = clone.find('.type');
     var text = clone.find('.content');

     title.append(time);
     element.append(type);
     element.append(text)
     });
     }]*/
  }
})
/*
 * transclude就是把当前标签里的内容带到模板里
 * */
app.controller('myctl', function($scope) {
  $scope.user = 'username';
  $scope.pwd = 'pwd';
})
</script>
</head>
<body ng-app="myapp" ng-controller="myctl">
<input type="text" ng-model="user">
<my-dir suser="user" spwd="pwd">
  <table>
    <tr>
      <td>用户名</td>
      <td><input type="text" class="user" ng-model="user"></td>
    </tr>
    <tr>
      <td>密码</td>
      <td><input type="password" class="pwd" ng-model="pwd"></td>
    </tr>
  </table>
</my-dir>

</body>
</html>
